.extras{
    box-shadow: 1px 8px 12px 6px rgba(0,0,0,0.54);
    -webkit-box-shadow: 1px 8px 12px 6px rgba(0,0,0,0.54);
    -moz-box-shadow: 1px 8px 12px 6px rgba(0,0,0,0.54);
    
}
.contenedor-extras{
    

    .contenido-extra{

        .subtitulo{
            text-transform: uppercase;
            font-size: 1.4rem;
            color: $amarillo;
            font-weight: $bold;
            text-align: center;

        }
        
        h3{
            font-size: 3.4rem;
            font-weight: $regular;
            font-family: $fuenteSecundaria;
            margin-top: .5rem;
            text-align: center;
        }

        .info{
            //font-size: 1.8rem;
            color: #555353;
            text-align: center;
        }
    }

    @include tablet{
        display: flex;
        flex-wrap: wrap;
        border: 1px solid #e1e1e1;

        .imagen{
            flex: 0 0 50%;
            height: 500px;
        }

        .contenido-extra{
            flex: 0 0 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 $separacion;
            margin: 0;
            

            
        }
    }
}