//Slider Imagenes
.slider {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

    ul {
        display: flex;
        width: 300%;
        padding: 0;
        margin: 0;
        animation: cambio 20s infinite alternate ease-in-out;

        li {
            width: 100%;
            list-style: none;

            img {
                width: 100%;
                min-height: 400px;

                @include tablet {
                    height: 100vh;
                }
            }
        }
    }

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 400px;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);

        @include tablet {
            height: 100vh;
        }
    }

}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    30% {
        margin-left: 0;
    }

    35% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    100% {
        margin-left: -200%;
    }
}

.header{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;

    .barra{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        display: flex;
        padding: $separacion;
        justify-content: space-between;
        align-items: center;

        .logo{
            padding: 0;
            margin: 0;
            a{
                color: $blanco;
                text-decoration: none;
                font-size: 5rem;
                font-weight: $bold;
                letter-spacing: 3px;
            }
        }

        .navegacion-principal{
            display: flex;
            flex-direction: row;

            a{
                margin: 0;
                color: $blanco;
                text-decoration: none;
                display: block;
                padding-right: 2rem;
                transition: all .3s ease-in;

                &:hover{
                    color: $verdeAgua;
                }
            }

        }


        .menu-toggle{
            display: none;
        }


    }
}

