.ubicacion{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mapa{
        min-height: 500px;
        flex: 0 0 50%;
    }

    .informacion-ubicacion{
        flex: 0 0 30%;
        p{
            color: $negro;
        }
    }

}