.nosotros{

    padding: $separacion 0;
    .contenedor{
        
        @include tablet{
            .texto-info{
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 2rem;

                p{
                    font-size: 2rem;
                    flex: 0 0 50%;
                    text-align: justify;
                }
            }
        }

        p{
            font-size: 1.8rem;
            text-align: center;
        }


        .contenedor-iconos{
            display: flex;
            flex-direction:column ;
            width: 100%;
            justify-content: space-between;
            margin-top: $separacion;

            @include tablet{
                flex-direction: row;
            }
            .grupo-icono{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                i{
                    color: $verdeAgua;
                    font-size: 5rem;
                }
            }
        }
        
    }
}