html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: $fuentePrincipal;
    font-size: 1.6rem;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}