$fuentePrincipal : 'Montserrat', sans-serif;
$fuenteSecundaria: 'Roboto', sans-serif;


//Colores
$blanco: #ffffff;
$negro: #000000;
$verdeAgua: #00ffcc;
$amarillo: #ccab56;


//Media Queries
$telefono : 480px;
$tablet : 768px;
$laptop: 1024px;
$escritorio: 1200px;


//Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;


//Separacion
$separacion : 5rem;